<div>
    <p>
        Welcome to duckbot.tf
    </p>
</div>

<form action="/newape" method="post">
    <input type="text" name="steamurl"/>
    <input type="text" name="message"/>
    <input type="text" name="author"/>
    <select class="js-example-basic-single js-states form-control" multiple="multiple" name="tags">
        <option value="1">Ape</option>
        <option value="2">Gas</option>
    </select>
    <input type="submit" value="Submit"/>
</form>

<script src="js/login.js"></script>
