<html>
<head>
    <title><%= title %></title>

    <script src="plugins/jquery/js/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="plugins/bootstrap5/css/bootstrap.min.css"/>
    <script src="plugins/bootstrap5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="plugins/select2/css/select2.min.css"/>
    <script src="plugins/select2/js/select2.min.js"></script>
</head>
<body>
<h3>
    <%= title %>
</h3>
<%- body %>
</body>
</html>
